CourseClient/Connected Services/ServiceReference1/CourseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54909/CourseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54909/CourseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54909/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseService_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseById" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_AddCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_AddCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_DeleteCourseById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseById" />
  </wsdl:message>
  <wsdl:message name="ICourseService_DeleteCourseById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseService">
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourses" message="tns:ICourseService_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCoursesResponse" message="tns:ICourseService_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourseById" message="tns:ICourseService_GetCourseById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCourseByIdResponse" message="tns:ICourseService_GetCourseById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/AddCourse" message="tns:ICourseService_AddCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/AddCourseResponse" message="tns:ICourseService_AddCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourseById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/DeleteCourseById" message="tns:ICourseService_DeleteCourseById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/DeleteCourseByIdResponse" message="tns:ICourseService_DeleteCourseById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseService" type="tns:ICourseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseById">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourseById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseService/AddCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourseById">
      <soap:operation soapAction="http://tempuri.org/ICourseService/DeleteCourseById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseService">
    <wsdl:port name="BasicHttpBinding_ICourseService" binding="tns:BasicHttpBinding_ICourseService">
      <soap:address location="http://localhost:54909/CourseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>